- title("Chore lists")

.row
  .page-header
    %h1
      Chore Lists
      %small
        welcome,
        = current_user.name

.container-fluid
  .sidebar
    = form_for @new_chore_list do |f|
      %legend New chore list
      = f.label :title
      = f.text_field :title
      = f.submit "Create", :class => "btn"
    - unless @new_chore_list.errors.empty?
      .alert-message.block-message.error
        %p
          %strong Errors:
        %ul
          - @new_chore_list.errors.full_messages.each do |e|
            %li= e

  .content
    %dl#chore-lists-dates
      - @chore_lists.each do |date, list|
        %dt{:id => date.to_s}
          = date.inspect
          %table#chore_lists.zebra-striped.span10
            - list.each do |chore_list|
              %tr
                %td{ :onclick => "location.href='#{chore_list_path(chore_list)}'" }
                  %strong
                    = link_to chore_list.title, chore_list_path(chore_list),
                      :class => "pull-left"
                %td
                  = button_to 'X', chore_list_path(chore_list),
                    :confirm => "Are you sure?", :method => :delete,
                    :class => "close"
              
