- title(@chore_list.title)

.row
  .page-header
    %h1
      = @chore_list.title
      %small
        = @chore_list.date.inspect

.container
  .row
    .span5
      = form_for @chore_list,
        :url => :create_chore_for_chore_list,
        :html => { :class => "form-stacked" } do |chore_list|
        = chore_list.fields_for :chores do |f|
          .clearfix
            = f.label :name, "New chore"
            .input
              = f.text_field :name, :class => "span3"
              = f.submit "Create", :class => "btn"
      -unless @new_chore.errors.empty?
        .alert-message.block-message.error
          %p
            %strong Errors:
          %ul
            - @new_chore.errors.full_messages.each do |e|
              %li= e

    .span11
      %table#chores.zebra-striped
        - @entries.each do |entry|
          %tr
            %td{ :style => "vertical-align: middle" }
              %strong.blue= entry.chore.name
              -if entry.completed?
                %span.label.success done

  .row
    = form_for @chore_list,
        :html => { :method => :delete } do |f|
      .actions
        = f.submit "Delete list", :confirm => "Are you sure?",
          :class => "btn danger"
        = link_to "Back", :back, :class => "btn"
